[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
matplotlib = "*"
numba = "*"
numpy = "*"
pandas = "*"
yfinance = "*"
papermill = "*"
jupyter = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.8"
